/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */

/*body{
  background-color: seagreen;
}*/

/*vaadin-grid{
  background-color: seagreen;
}*/

.centered-content {
  margin: 0 auto;
  max-width: 250px;
}

